{% extends "template.html" %}

{% block title %}GPA Calculator{% endblock %}

{% block body %}
<form action="{{ url_for('calculate') }}" method="post">
    <div class="row">
        <div class="column">
            <h1>Mark</h1>
        </div>
        <div class="column">
            <h1>Weightage</h1>
        </div>
    </div>

    {% for i in range(numItems) %}
    <div class="row">
        <div class="column">
            <input type="number" name="mark{{i}}" size="10">
        </div>
        <div class="column">
            <input type="number" name="weightage{{i}}" size="10">
        </div>
    </div>
    {% endfor %}

    <input type="submit" value="Submit">
</form>
{% endblock %}
